@use "../../../assets/scss/main.scss" as *;

.header {
  box-shadow: 0 .2rem .5rem rgba($color-black, .6);

  @include responsive(tablet-portrait) {
    .containerInside {
      justify-content: center !important;
    }
    .login {
      display: none !important;
    }
  }

  @include responsive(phone-portrait){
    position:relative;
    box-shadow: none;
  }

  .btnLogin {
    color: $color-white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: $smaller-font-size;
    font-weight: 600;
    letter-spacing: 1.25px;
    background-color: $color-primary-light;
    border: 1px solid $color-primary-light;
    padding: .5rem 1rem;
    transition: .2s all;

    &:hover {
      background-color: $color-white;
      color: $color-primary-light;
    }
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-primary;
  }
}

