@use '../../../assets/scss/main.scss' as *;

.customDateInput {
  width: 100%;
  color: gray;
  border: 1px solid #ced4da;
  background-color: $color-white;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s all;

  &:focus {
    box-shadow: 0 0 .5rem $color-primary;
  }
}

.innerInput {
  background-color: $color-white;
  border: none;
  cursor: pointer;

  &Hidden {
    display: none;
  }
}

.customChevron {
  width: 1.2rem;
  height: 1.2rem;
}