@use '../../../../assets/scss/main.scss' as *;

.detailManage {
    padding-top: 30px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 3px rgba(28, 5, 77, 0.03), 0px 12px 8px rgba(0, 0, 0, 0.02);

    .title {
        margin-top: 20px;
        font-size: $small-font-size;
        font-weight: 700;
        color: $color-primary;
    }

    .subTitle {
        font-size: $small-font-size;
        color: $color-secondary-light;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .detailNominal {
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        text-align: start;
        padding: 20px 30px;
        align-items: center;
        background-color: $color-text-light;

        .description {
            font-size: $small-font-size;
            line-height: 25.14px;
            color: $color-secondary-light;
            
        }

        .saldo {
            font-size: $small-font-size;
            color: $color-primary;
        }
    }
}

.btnFull {
    width: 100%;
}
