@use '../../../assets/scss/main.scss' as *;

.emptyTitle {
  color: $color-primary;
  font-weight: 700;
  font-size: $default-font-size;
}

.emptySubTitle {
  color: $color-primary;
  font-weight: 600;
  font-size: $smaller-font-size;
}

.houseItem {
  cursor: pointer;
  display: flex;
  padding: 15px;
  flex-direction: column;
  box-shadow: 0px -2px 2px rgba(28, 5, 77, 0.05), 0px -12px 8px rgba(0, 0, 0, 0.02);

  .imgContainer {
      text-align: center;
      align-self: center;
      display: inline-block;
      width: 100%;
      min-height: 20%;
      max-height: 10%;
      padding: 25px;
      background-color: $color-bg-itemShop;
      border-radius: 50%;
      margin-bottom: 25px;
  }
}

.itemImage {
  width: 7rem;
  height: 7rem;
}

