@use './variables' as *;

@mixin section($img, $imgSm) {
  background: url($img) no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;

  @include responsive(desktop-l) {
    height: 21.25rem;
  }

  @include responsive(phone-landscape) {
    height: 45rem;
    padding: 4rem 0;
  }

  @include responsive(phone-small) {
    background: url($imgSm) no-repeat;
    width: 100%;
    background-size: cover;
    height: 30rem;
  }
}

@mixin responsive($device) {
  @if $device == desktop-xl {
    @media only screen and (max-width: $bp-largest) {
      @content
    }
  } @else if $device == desktop-xxl {
    @media only screen and (max-width: $bp-extraLarge) {
      @content 
    }
  } @else if $device == desktop-l {
    @media only screen and (max-width: $bp-large) {
      @content
    }
  } @else if $device == tablet-portrait {
    @media only screen and (max-width: $bp-medium) {
      @content
    }
  } @else if $device == phone-landscape {
    @media only screen and (max-width: $bp-small) {
      @content
    }
  } @else if $device == phone-portrait {
    @media only screen and (max-width: $bp-smallest) {
      @content
    }
  } @else if $device == phone-small {
    @media only screen and (max-width: $bp-super-small) {
      @content
    }
  }
}

@mixin responsive-mobile($screen-size) {
  @if $screen-size == sm {  
    @media only screen and (min-width: $bp-m-small) {
      @content
    }
  } @else if $screen-size == md { 
    @media only screen and (min-width: $bp-m-medium) {
      @content
    }
  } @else if $screen-size == lg {  
    @media only screen and (min-width: $bp-m-large) {
      @content
    }
  } @else if $screen-size == xl {
    @media only screen and (min-width: $bp-m-extra-large) {
      @content
    }
  } @else if $screen-size == xxl { 
    @media only screen and (min-width: $bp-m-largest) {
      @content
    }
  }
}