@use './variables' as *;
@use './mixins' as *;

%monola {
  color: $color-primary;
  font-size: $default-font-size;
  font-weight: 600;
  letter-spacing: .18px;
}

%button {
  padding: .5rem 1rem;
  background-color: $color-primary-light;
  color: $color-white;
  border: 1px solid $color-primary-light;
  border-radius: 5px;
  transition: .2s all;

  @include responsive(phone-landscape) {
    padding: 1.2rem 2rem;
    border-radius: 10px;
  }

  &:active {
    outline: none;
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
  }

  &:disabled {
    cursor: default;
    background-color: $color-disabled;

    &:hover {
      color: $color-white;
    }
  }
}

%cancelPageButton {
  border: 1px solid $color-primary;
  background-color: $color-primary;
  width: 100%;
  text-transform: uppercase;
  font-size: $small-font-size;
  border-radius: 10px;
}