// Colors

$color-primary: #1976D2;
$color-primary-light: #2196F3;
$color-primary-dark: rgba(255, 255, 255, 0.38);

$color-secondary: #212121;
$color-secondary-light: #666;

$color-tertiary-light: #EF5DA8;
$color-tertiary-dark: #BA3689;


$color-white: #fff;
$color-black: #000;

$color-text-light: #FAFAFA;

$color-grey-light: #C4C4C4;

$color-disabled: #9E9E9E;
$color-error: #B00020;
$color-success: #00A124;

$color-bg-itemShop: #FFE0B2;

// Border

$border-light: 1px solid rgba(0, 0, 0, 0.12);

// Box Shadow

$box-shadow-container:  0 .5rem .3rem rgba($color-black, .2);

// Font-sizes

$default-font-size: 1.5rem;
$small-font-size: 1.25rem;
$smaller-font-size: .875rem;
$large-font-size: 2.125rem;
$largest-font-size: 3.75rem;

// Font-weight
$font-weight-bold: 700;

// Breakpoints

$bp-super-small: 32.5em; // Why
$bp-smallest: 36em; // 576px Portrait Smartphones (Regular)
$bp-small: 47.9em; // 768px Landscape Smartphones
$bp-medium: 62em; // 992px Desktop/Portrait Tablet
$bp-large: 74.9375em; // 1200px Large Desktop/Landscape Tablet
$bp-largest: 87.5em; // 1400px Extra Large Screen
$bp-extraLarge: 90em; // 1440px


// Breakpoints for mobile-first

$bp-m-small: 36em; // 576px
$bp-m-medium: 48em; // 768px
$bp-m-large: 62em; // 992px
$bp-m-extra-large: 75em; // 1200px
$bp-m-largest: 87.5em; // 1400px
