@use '../../../../assets/scss/main.scss' as *;

.label {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
}
.input {
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    padding: 14.5px 16px;
    font-size: 0.875rem;
    height: 100%;
    margin-right: -2rem;
    color: $color-secondary;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: none;
    }

    &::placeholder {
        font-size: 0.875rem;
    }
}

.remaining {
    font-size: 0.875rem;
    color: $color-secondary-light;
}

.inputCurrency {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 14.5px 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 100%;
    font-size: 0.875rem;
    &::placeholder {
        font-size: 0.875rem;
    }
    &:focus {
        outline: none;
    }
}
.containerImgIcon {
    display: flex;
    justify-content: center;
    width: 146px;
    height: 146px;
    background-color: $color-text-light;
    border-radius: 100%;
    .iconSaving {
        align-self: center;
        width: 70px;
        height: 70px;
    }
}
.cameraIcon {
    position: absolute;
    cursor: pointer;
    bottom: 0%;
    right: 0%;
}
.errorMessage {
    font-size: 0.875;
    color: $color-error;
}
