@use '../../../assets/scss/main.scss' as *;

.petItems {
    display: flex;
    padding: 15px;
    flex-direction: column;
    box-shadow: 0px -2px 2px rgba(28, 5, 77, 0.05), 0px -12px 8px rgba(0, 0, 0, 0.02);
    .petImgContainer {
        text-align: center;
        align-self: center;
        display: block;
        width: 60%;
        padding: 25px;
        background-color: $color-bg-itemShop;
        border-radius: 150px;
        margin-bottom: 25px;
    }
    .lihatContainer {
        display: flex;
        align-self: center;
        background-color: $color-disabled;
        max-width: fit-content;
        border-radius: 20px;
        padding: 5px 10px;
        .lihat {
            font-weight: $font-weight-bold;
            font-size: 1rem;
            line-height: 20.11px;
            color: $color-white;
            margin-left: 8px;
        }
    }
    .owned {
        background-color: $color-primary;
    }
}