@use '../../../assets/scss/main.scss' as *;

.eWalletItem {
    padding: 20px 28px;
    background-color: $color-white;
    min-width: 120px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s all;

    &:hover {
        background-color: darken($color-white, 4%);
    }
    
    .content {
        text-align: center;
    }
    .userName {
        margin: 0;
        text-align: center;
    }
}

