@use '../../../assets/scss/main.scss' as *;

.title {
    font-size: 16px;
    font-weight: $font-weight-bold;
    margin-bottom: 14px;
}

.eWalletContainer {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}