@use "../../../assets/scss/main.scss" as *;

.carouselIndicatorsContainer {
  @include responsive(phone-small) {
    margin-bottom: 2rem !important;
  }
}

.carouselIndicator {
  border-radius: 50% !important;
  width: 1.2rem !important;
  height: 1.2rem !important;

  @include responsive(phone-landscape) {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  @include responsive(phone-portrait) {
    width: 1.4rem !important;
    height: 1.4rem !important;
  }

  @include responsive(phone-small) {
    width: 1rem !important;
    height: 1rem !important;
  }

  &:not(:last-child) {
    margin-right: .4rem;

    @include responsive(phone-landscape) {
      margin-right: .8rem;
    }
  }
}

.mainContent {
  width: 100%;
  &Section1 {
    background-color: white;
  }

  &Section2 {
    // @include section('../../../assets/img/BG-section2.svg', '../../../assets/img/BG-section2-sm.png');
    background-color: #f6f6f6;

    .subTitle {
      @include responsive(phone-small) {
        padding: 0 2rem;
      }
    }
  }

  &Section3 {
    // @include section('../../../assets/img/BG-section3.svg', '../../../assets/img/BG-section3-sm.png');
    background-color: white;

    .subTitle {
      @include responsive(phone-small) {
        padding: 0 2rem;
      }
    }
  }

  
  &Section4 {
    // background-color: $color-primary-light;
    background: $color-primary-light url('../../../assets/img/bg-transparent.png') no-repeat;
    background-size: cover;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .6rem .5rem rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;

    .chonkyBg {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .kevinBg {
      position: absolute;
      bottom: 0;
      left: 15%;
    }

    .terryBg {
      position: absolute;
      right: 10%;
      bottom: 0;
    }

    .somBg {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    @include responsive(desktop-xl) {
      height: 25rem;
    }

    @include responsive(desktop-l) {
      .chonkyBg {
        width: 15%;
      }
      .kevinBg {
        width: 15%;
      }
      .terryBg {
        width: 15%;
      }
      .somBg {
        width: 15%;
      }
    }

    @include responsive(tablet-portrait) {
      .chonkyBg {
        width: 15%;
      }
      .kevinBg {
        width: 15%;
      }
      .terryBg {
        width: 15%;
      }
      .somBg {
        width: 15%;
      }
    }

    @include responsive(phone-landscape) {
      // background: url('../../../assets/img/RegisBgSm.png') no-repeat center/cover;
      height: 33rem;
      justify-content: stretch;
      padding-top: 5rem;
      .chonkyBg {
        width: 15%;
      }
      .kevinBg {
        width: 15%;
      }
      .terryBg {
        width: 15%;
      }
      .somBg {
        width: 15%;
      }
    }

    @include responsive(phone-portrait) {
      height: 26rem;
      // background: none;
      // // background-color: $color-secondary;
      padding-top: 3rem;
    }

    @include responsive(phone-small) {
      height: 24rem;
    }

    // &::before {
    //   content: "";
    //   height: 100%;
    //   width: 36.3%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background: url('../../../assets/img/Register-left.png') no-repeat right/cover;
      
    //   @include responsive(desktop-xl) {
    //     width: 34%;
    //     background-position-x: right;
    //   }

    //   @include responsive(desktop-l) {
    //     width: 33%;
    //   }

    //   @include responsive(phone-landscape) {
    //     width: 20%;
    //     display:none;
    //   }

    //   @include responsive(phone-portrait) {
    //     display: inline-block;
    //     width: 23%;
    //     height: 110%;
    //     background-position: center right;
    //     background-size: cover;
    //   }

    //   @include responsive(phone-small) {
    //     width: 20%;
    //   }
    // }

    // &::after {
    //   content: "";
    //   height: 100%;
    //   width: 36.3%;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   background: url('../../../assets/img/Register-right.png') no-repeat left/cover;

    //   @include responsive(desktop-xl) {
    //     width: 34%;
    //     background-position-x: left;
    //   }

    //   @include responsive(desktop-l) {
    //     width: 33%;
    //   }

    //   @include responsive(phone-landscape) {
    //     width: 20%;
    //     display: none;
    //   }

    //   @include responsive(phone-portrait) {
    //     display: inline-block;
    //     width: 23%;
    //     height: 110%;
    //     background-position: center left;
    //     background-size: cover;
    //   }

    //   @include responsive(phone-small) {
    //     width: 20%;
    //   }
    // }
  }
}

.textContainer {
  max-width: 60%;

  @include responsive(tablet-portrait) {
    max-width: 100%;
  }

  @include responsive(phone-portrait) {
    max-width: 80%;
    &:not(:nth-of-type(2)) {
      max-width: 80%;
    }
  }

  @include responsive(phone-small) {
    max-width: 95%;
    &:not(:nth-of-type(2)) {
      max-width: 100%;
    }
  }
}

.title {
  font-weight: 700;
  font-size: $large-font-size;
  letter-spacing: .18px;
  color: $color-primary;
  
  @include responsive(desktop-l) {
    font-size: $default-font-size;
  }

  @include responsive(phone-landscape) {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  @include responsive(phone-portrait) {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 2rem;
  }

  @include responsive(phone-small) {
    font-size: 2rem;
  }
}

.subTitle {
  font-weight: 400;
  font-size: $default-font-size;
  letter-spacing: .15px;
  color: $color-secondary;


  @include responsive(desktop-l) {
    font-size: $small-font-size;
  }

  @include responsive(tablet-portrait) {
    line-height: 25.14px;
  }

  @include responsive(phone-landscape) {
    text-align: center;
    font-size: $default-font-size;
    line-height: 30px;
  }

  @include responsive(phone-small) {
    font-size: 1.1rem;
    line-height: 25px;
  }

}

.titleRegis {
  color: $color-text-light;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.5px;

  @include responsive(desktop-xl) {
    font-size: 3.5rem;
  }

  @include responsive(desktop-l) {
    font-size: 3.4rem;
  }

  @include responsive(tablet-portrait) {
    font-size: 3.4rem;
  }

  @include responsive(phone-landscape) {
    font-size: $largest-font-size;
    padding: 0 8rem;
  }

  @include responsive(phone-portrait) {
    font-size: 3rem;
    padding: 0 6rem;
    line-height: 4rem;
  }

  @include responsive(phone-small) {
    font-size: 2.6rem;
    padding: 0;
  }
}

.subTitleRegis {
  color: $color-text-light;
  font-size: 1.25rem;
  letter-spacing: 0.15px;

  @include responsive(desktop-xl) {
    font-size: 1.2rem;
  }

  @include responsive(desktop-l) {
    font-size: 1.15rem;
  }

  @include responsive(phone-landscape) {
    text-align: center;
    font-size: $default-font-size;
    padding: 0 9rem;
  }

  @include responsive(phone-portrait) {
    font-size: $small-font-size;
    padding: 0 5rem;
  }

  @include responsive(phone-small) {
    font-size: 1rem;
    padding: 0 3rem;
  }
}

.btnRegis {
  color: $color-text-light;
  font-size: $small-font-size;
  letter-spacing: 0.15px;
  padding: .8rem 2rem;
  background-color: $color-primary;
  border-radius: 0.424rem;
  font-weight: 700;
  margin-top: 2rem;
  transition: .2s all;
  border: none;

  @include responsive(desktop-xl) {
    font-size: 1.2rem;
  }

  @include responsive(phone-landscape) {
    padding: 1rem 3rem;
    font-size: $large-font-size;
  }

  @include responsive(phone-portrait) {
    font-size: $default-font-size;
  }

  @include responsive(phone-small) {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  &:hover {
    background-color: darken($color-primary, 5%);
    color: $color-text-light;
    text-decoration: none;
  }
}

.sectionImg {
  margin-top: 5rem;
  @include responsive(desktop-l) {
    width: 100%;
  }

  @include responsive(tablet-portrait) {
    max-width: 90%;
  }

  @include responsive(phone-landscape) {
    max-width: 50%;
  }

  @include responsive(phone-portrait) {
    max-width: 60%;
  }

  @include responsive(phone-small) {
    max-width: 50%;
  }
}