@use '../../../assets/scss/main.scss' as *;

.forgotpin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 51%;
  .icon {
    margin-top: 3.7rem;
    text-align: center;
  }
  .title {
    font-weight: 700;
    color: $color-primary;
    font-size: $default-font-size;
    text-align: center;
    margin-top: 2.5rem;
  }
  .subTitle {
    text-align: center;
    font-size: $small-font-size;
    margin-bottom: 0.625rem;
    line-height: 25px;
  }
  .orderedList {
    padding: 0;
    padding-left: 1.5rem;
    font-size: $small-font-size;
    margin-bottom: 2.5rem;
    line-height: 25px;
  }
  .text600 {
    font-weight: 600;
  }
  .kembaliBtn {
    font-size: $small-font-size;
    background-color: $color-primary;
    padding: 0.625rem 3.75rem;
    border-radius: 0.5rem;
  }
}