@use '../../../../assets/scss/main.scss' as *;

.title {
  color: $color-primary;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.813rem;
}

.orderedList {
  padding-left: 1.5rem;
}

.text {
  margin: 0;
}