@use '../../../assets/scss/main.scss' as *;

.calendarHeader {
  background-color: $color-primary;
  text-align: left;
  color: $color-white;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  padding: .5rem 1rem .1rem 1rem;

  &Year {
    font-size: $smaller-font-size;
    margin-bottom: 0;
  }

  &Date {
    font-size: $default-font-size;
    letter-spacing: .18px;
  } 
}

.calendarMonthChanger {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $color-white;
  padding: 1rem;
  height: 5rem;

  .monthChangerText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
  }

  .monthChangerIcon {
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
  }
}