@use '../../../assets/scss/main.scss' as *;

.topContainer {
  color: $color-secondary-light;
  letter-spacing: .18px;
  max-width: 70%;
  margin-bottom: 5rem;
}

.heading {
  max-width: 75%;
  margin: 0 auto;
  padding: 4rem 0;
  letter-spacing: -.5px;

  @include responsive(desktop-xl) {
    max-width: 95%;
  }


  .topHeading {
    color: $color-secondary-light;
    font-weight: 700;
    font-size: $largest-font-size;
  }
}

.termsAndConditions {
  padding: 1rem 5rem;
  font-size: $default-font-size;

  @include responsive(desktop-xl) {
    padding: 0;
  }
}

.textSectionHeading {
  font-weight: 700;
  margin-bottom: 0;
}