@use '../abstracts/variables' as *;

.b700 {
    font-weight: 700;
}

:global(.footer-heading) {
    font-weight: 600;
    font-size: $large-font-size
}

.text{
    color: $color-white;
    font-weight: 400;
    
    &--thin {
        font-size: $small-font-size;
        letter-spacing: .15px;
    }

    &--bold {
        font-size: $default-font-size;
        font-weight: 700;
        letter-spacing: .18px;
    }
}

.fw-600 {
    font-weight: 600;
}

.dashboard-heading {
    color: $color-primary;
    font-weight: 700;
    font-size: $default-font-size;
    margin-bottom: 0;
}

.empty-message {
    color: $color-primary;
    font-weight: 600;
}

.empty-favorite {
    &__heading {
        color: $color-primary;
        font-weight: 600;
        font-size: $small-font-size;
        margin-bottom: .5rem;
    }

    &__paragraph {
        font-size: $smaller-font-size;
        line-height: 17.6px;
        margin-bottom: 0;
    }
}