@use '../abstracts/mixins' as *;

// Margin-top

.u-margin-top {
  &-small {
    margin-top: 2rem !important;
  }
  
  &-large {
    margin-top: 4.5rem !important;
  }

  &-larger {
    margin-top: 5rem !important;
  }

  &-jumbo {
    margin-top: 10rem !important;
  }
}

.u-margin-top-xl {
  &-medium {
    @include responsive(desktop-l) {
      margin-top: 4.5rem !important;
    }
  }
}

.u-margin-top-l {
  &-medium {
    @include responsive(tablet-portrait) {
      margin-top: 4.5rem !important;
    }
  }
}

.u-margin-top-md {
  &-large {
    @include responsive(phone-landscape) {
      margin-top: 5.5rem !important;
    }
  }
}

.u-margin-top-sm {
  &-larger {
    @include responsive(phone-portrait) {
      margin-top: 5.5rem !important;
    }
  }
}

// Margin y

.u-margin-y {
  &-jumbo {
    margin: 10rem 0 !important;
  }
}

.u-margin-y-lg {
  &-large {
    @include responsive(tablet-portrait) {
      margin: 0 5rem !important;
    }
  }
}

// Margin Bottom

.u-margin-bottom-large {
  @include responsive(desktop-l) {
    margin-bottom: 6rem;
  }

  @include responsive(tablet-portrait) {
    margin-bottom: 7rem;
  }

  @include responsive(phone-landscape) {
    margin-bottom: 10rem;
  }

  @include responsive(phone-portrait) {
    margin-bottom: 11rem;
  }
}

// Margin None

.u-margin-sm-none {
  @include responsive(phone-portrait) {
    margin: 0 !important;
  }
}

.u-px-6 {
  padding: 0 5rem!important;
}

// Height Offset

.u-offset-height {
  @include responsive(desktop-l) {
    height: 20rem !important;
  }

  @include responsive(tablet-portrait) {
    height: 25rem !important;
  }

  @include responsive(phone-landscape) {
    height: 34rem !important;
  }

  @include responsive(phone-portrait) {
    height: 34rem !important;
  }

  @include responsive(phone-small) {
    height: 25rem !important;
  }
}

// Z-Index

.u-z-index-high {
  z-index: 100 !important;
}

// Flex Order

.u-order-xs-1 { 
  @include responsive(phone-portrait) {
    order: 1 !important;
  }
}