@use '../../../../assets/scss/main.scss' as *;

.contactUs {
  width: 80%;
  margin: auto;
  margin-top: 1.875rem;
  .title {
    font-weight: 700;
  }
  .orderedList {
    padding: 0;
    padding-left: 1.5rem;
  }
}