@use '../../../assets/scss/main.scss' as *;

.overviewContainer {
  background-color: $color-text-light;
  padding: 1rem;
  margin: 1.5rem 0;

  .nominal {
    color: $color-primary;
    font-weight: 600;
  }
}