@use '../../../assets/scss/main.scss' as *;

.fillPassword {
  .title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: $color-secondary;
  }
  .form {
    &Label {
      font-weight: 600;
    }
    &Input {
      padding: 0.9rem 1rem;
      height: 3.063rem;
      font-size: 0.875rem;
    }
  }
  .containerButton {
    display: flex;
    justify-content: space-between;
    margin-top: 2.188rem;
    .kembaliBtn {
      padding: 0.75rem 6.813rem;
      background-color: white;
      color: $color-primary;
      font-weight: 600;
      border-color: $color-primary;
      letter-spacing: 1.25px;
      font-size: 0.875rem;
      width: 47%;
      &:hover {
        background-color: $color-primary-light;
        color: white;
        border-color: $color-primary-light;
      }
    }
    .lanjutBtn {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      font-weight: 600;
      padding: 0.75rem 6.813rem;
      letter-spacing: 1.25px;
      font-size: 0.875rem;
      width: 47%;
    }
  }
}