@use '../../../assets/scss/main.scss' as *;

.successChangePassword {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  .completedIcon {
    align-self: center;
    margin-bottom: 2.5rem;
  }
  .title {
    font-weight: 700;
    font-size: $default-font-size;
    text-align: center;
    color: $color-primary;
    margin-bottom: 0;
  }
  .subTitle {
    text-align: center;
    font-size: $small-font-size;
    margin-bottom: 2.5rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    .kembaliLoginBtn {
      background-color: $color-primary;
      padding: 0.625rem 1.125rem;
      border-radius: 0.5rem;
    }
  }
}