@use "../../../assets/scss/main.scss" as *;

.footer {
    background-color: $color-text-light;
    height: 100%;
    padding: 3rem 8rem;
    border-left: 2px solid rgba($color-black, .11);
    border-right: 2px solid rgba($color-black, .11);
    box-shadow: inset 0 .5rem 1rem -.5rem rgba($color-black, .5);

    // @include responsive(desktop-l) {
    //     margin-bottom: 100px;
    // }

    @include responsive(tablet-portrait) {
        padding: 3rem 0;
    }

    @include responsive(phone-portrait) {
        padding-right: 0;
    }

    .mainRow {
        @include responsive(phone-small) {
            margin: 0 0 0 2rem !important;
        }
    }
    &Paragraph {
        font-size: $smaller-font-size;
        margin-bottom: 0;

        @include responsive(tablet-portrait) {
            font-size: .75rem;
            letter-spacing: .4px;
            line-height: 15.08px;
        }

        @include responsive(phone-landscape) {
            font-size: .9rem;
        }

        @include responsive(phone-portrait) {
            font-size: .8rem;
            margin-left: 1rem;
        }

        @include responsive(phone-small) {
            font-size: .7rem;
        }

        &Small {
            font-size: .75rem;
            letter-spacing: .4px;
            color: $color-disabled;
            transition: .2s all;
            cursor: pointer;

            @include responsive(desktop-l) {
                font-size: .65rem;
            }
            
            @include responsive(tablet-portrait) {
                display: none;
            }

            &:hover {
                color: $color-secondary-light;
            }
        }
    }

    .iconContainer{
        flex: 0 0 15%; 
        
        @include responsive(phone-portrait) {
            margin-left: 1rem;
        }  

        @include responsive(phone-small) {
            margin-left: .5rem;
        }
    }

    &Icon {
        border-radius: 50%;
        border: 1px solid $color-disabled;
        background-color: $color-white;
        width: 2rem;
        height: 2rem;
        flex-grow: 0;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        transition: .2s all;
        display: flex;
        justify-content: center;

        @include responsive(phone-landscape) {
            width: 3rem;
            height: 3rem;
        }

        @include responsive(phone-small) {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            background-color: $color-primary;
        }

        &:hover .icon {
            fill: $color-white;
        }

        .icon {
            height: 1rem;
            width: 1rem;
            fill: $color-primary;

            @include responsive(phone-landscape) {
                width: 1.5rem;
                height: 1.5rem;
            }

            @include responsive(phone-small) {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.footerIconsContainer {
    @include responsive(phone-landscape) {
        position: absolute;
        top: 9rem;
        left: -7.5rem;
    }

    @include responsive(phone-portrait) {
        left: -2.8rem;
    }

    @include responsive(phone-small) {
        top: 7rem;
        left: -3.4rem;
    }
}

.imgContainer {
    flex: 0 0 20%;
    cursor: pointer;

    .vendorImg {
        object-fit: contain;
        width: 11.5rem;

        @include responsive(tablet-portrait) {
            width: 10rem;
            object-fit: cover;
        }

        @include responsive(phone-small) {
            width: 8rem;
            object-fit: cover;
        }
    }
}

.footerLogo {
    @include responsive(tablet-portrait) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    @include responsive(phone-landscape) {
        margin-top: 3rem;
    }

    @include responsive(phone-portrait) {
        flex-wrap: nowrap;
        justify-content: stretch;
        margin-top: 4rem;
    }

    @include responsive(phone-small) {
        margin-top: 3rem;
    }
}

.monolaLogo {
    @media only screen and (min-width: 1400px) {
        flex: 0 0 18%;
    }

    @include responsive(tablet-portrait) {
        flex: 0 0 20%;
    }
    @include responsive(phone-portrait) {
        flex: 0 0 20%;
    }
}

.monolaWarranty {
    @media only screen and (min-width: 1400px) {
        flex: 0 0 80%;
    }

    @include responsive(tablet-portrait) {
        flex: 0 0 80%;
    }

    @include responsive(phone-portrait) {
        flex: 0 0 70%;
        text-align: justify;
        font-size: $smaller-font-size;
    }

    @include responsive(phone-small) {
        flex: 0 0 80%;
    }
}

.getMonola {
    font-size: 34px;
    font-weight: 600;

    @include responsive(tablet-portrait) {
        font-size: 1.5rem;
    }

    @include responsive(phone-landscape) {
        font-size: $large-font-size;
    }

    @include responsive(phone-small) {
        font-size: $default-font-size;
    }
}

.kebijakan {
    @include responsive(tablet-portrait) {
        display: block;
        height: 38px;
    }
}