.nameInput {
  &Row {
    display: flex;
    align-items: center;
  }

  &Control {
    margin-right: -2rem;
    padding: 1.5rem 1rem;
  }
}

.checkboxContainer input{
  width: 1rem;
  height: 1rem;
}