@use '../../../assets/scss/main.scss' as *;

.modal {
  margin-left: 7.3rem;
  margin-top: 5rem;
}

.pinModalBody {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.paragraph {
  color: $color-secondary-light;
  width: 80%;
  text-align: center;
  line-height: 17.6px;
  margin: 2rem auto;
}

.backButton {
  text-transform: uppercase;
  letter-spacing: 1.25px;
  width: 75%;
  margin: 0 auto 5rem auto;
  background-color: $color-primary-light;
  padding: .8rem 0;

  &:hover {
    background-color: $color-primary;
  }
}