@use '../../../assets/scss/main.scss' as *;

.imgContainer {
  margin: 0 auto;
  height: 7rem;
  width: 7rem;
}

.providerImg {
  height: 100%;
  width: 100%;
  border: 1px solid rgba($color-black, .12);
  border-radius: 50%;
}

.nameInput {
  margin-right: -2rem;
  padding: 1.5rem 2rem;
}