@use '../../../assets/scss/main.scss' as *;

.emptyImg {
  border: 1px solid $color-primary-light;
  border-radius: 5px;
  margin: 0 auto;
  background-image: url('../../../assets/img/EmptyMan.png');
  width: 100%;
  height: 10rem;
  padding: 1.5rem 3rem;
}