@use '../../../assets/scss/main.scss' as *;

.login {
    height: 100vh;
    .leftSection {
        background-image: url("../../../assets/img/loginBg.svg") !important;
        background-color: none;
        padding: 40px 60px 0;
        .brand {
            font-size: 34px;
            font-weight: 700;
            color: white;
            margin-bottom: 0;
        }
        .tagline {
            color: white;
            font-size: 8.5px;
            font-weight: 400;
            line-height: 10.68px;
            letter-spacing: 0.4px;
        }
        .title {
            font-size: 34px;
            font-weight: 700;
            color: white;
            margin-bottom: 20px;
        }
        .subTitle {
            font-size: 20px;
            color: white;
            line-height: 25.14px;
            letter-spacing: 0.15 px;
        }
        .registerButton {
            background-color: rgba(239, 93, 168, 1);
            color: white;
            font-weight: 700;
            font-size: 20px;
            line-height: 25.14px;
            letter-spacing: 0.15px;
            padding: 15.5px 29px;
        }
        .disclaimerSection {
            padding-bottom: 50px;

            .disclaimer {
                color: $color-white;
                font-weight: 400;
                font-size: 14px;
                line-height: 17.6px;
                margin: 0;
            }
        }
    }
    .rightSection {
        padding: 100px 80px 0;
        .title {
            font-size: 34px;
            font-weight: 600;
            line-height: 42.74px;
            color: rgba(25, 118, 210, 1);
            margin-bottom: 20px;
        }
        .subTitle {
            color: rgba(102, 102, 102, 1);
            font-size: 24px;
            line-height: 30.17px;
            letter-spacing: 0.18px;
            margin-bottom: 36px;
        }
        .formEmail {
            margin-bottom: 30px;
        }
        .formPassword {
            align-items: center;
        }
        .label {
            font-size: 20px;
            font-weight: 600;
            line-height: 25.14px;
            letter-spacing: 0.15px;
            color: rgba(102, 102, 102, 1);
        }
        .labelPassword {
            flex: 0 0 70%;
        }
        .input {
            height: 60px;
            padding: .375rem 20px;
            font-size: 24px;
            line-height: 30.17px;
            letter-spacing: 0.18px;

            &Error {
                border: 1px solid $color-error;

                &:focus {
                    box-shadow: 0 0 0 .1rem rgba($color-error, .5);
                }
            }
        }
        .errorMessage {
            opacity: 0;
            color: $color-error;
        }
        .errorVisible {
            opacity: 1;
        }
        .formControlPassword {
            width: 100%;
            margin-right: -3rem;
        }
        .forgotPassword {
            font-size: 20px;
            color: $color-primary-light;
            line-height: 25px;
            letter-spacing: 0.15px;
        }
        .formIcon {
            width: 1.5rem;
            height: 1.5rem;
            fill: $color-secondary;
            cursor: pointer;
        }
        .buttonLogin {
            font-weight: 600;
            font-size: 24px;
            line-height: 30.17px;
            letter-spacing: 0.18 px;
            background-color: $color-primary;
            border-color: $color-primary;
            padding: 15px .75rem;
            transition: .2s all;
            &:disabled {
                background-color: $color-disabled;
                border-color: $color-disabled;
            }

            &:hover {
                background-color: $color-white;
                color: $color-primary;
                border: 1px solid $color-primary;
            }
        }
    }
}

.btnRegis {
    color: $color-text-light;
    font-size: $small-font-size;
    letter-spacing: 0.15px;
    padding: .8rem 2rem;
    background-color: $color-tertiary-light;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 2rem;
    transition: .2s all;
    border: none;

    &:hover {
        background-color: $color-white;
    }
}

.btnLogin {
    width: 100%;
    cursor: pointer;
    font-size: $default-font-size;
    padding: .7rem 0;
    font-weight: 600;
}