@use '../../../assets/scss/main.scss' as *;

.column {
  padding: 1.5rem 1.875rem;
  background-color: $color-text-light;
  border-radius: 0.313rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.813rem;
}

.amount {
  color: $color-secondary;
  font-weight: 600;
}