@use '../../../assets/scss/main.scss' as *;

.modal {
    margin-left: 46.2%;
    max-width: 385px;
    .modalBody {
        padding: 1.25rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 32px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 0;
}

.label {
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
}

.input {
    font-weight: 600;
    font-size: $small-font-size;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 2px solid $color-primary;
    padding: 0;
    color: black;
}

.limit {
    font-size: $small-font-size;
    align-self: flex-end;
    color: $color-disabled;
}

.buttonGroup {
    align-self: flex-end;
    .batalBtn {
        color: $color-disabled;
        font-weight: 600;
        font-size: $small-font-size;
        letter-spacing: 0.15px;
        text-decoration: none;
    }
    .simpanBtn {
        color: $color-primary;
        font-weight: 600;
        font-size: $small-font-size;
        letter-spacing: 0.15px;
        text-decoration: none;
    }
}