@use '../../../assets/scss/main.scss' as *;

.transaction {
  &Home {
    background-color: $color-white;
    height: 100%;
    padding: 1.5rem;
    box-shadow: $box-shadow-container;

    .addIcon {
      width: 2rem;
      height: 2rem;
    }
  }

  &Heading {
    color: $color-primary;
    font-weight: 700;
    font-size: $default-font-size;
    margin-bottom: 0;
  }
}

