@use '../../../assets/scss/main.scss' as *;

.button {
    background-color: $color-white;
    color: $color-primary;
    font-weight: 600;
    border: 1px solid $color-primary;
    border-radius: 4px;
    padding: 4px 20px;
    letter-spacing: 1.25px;
    width: 100%;
}