@use '../../../assets/scss/main.scss' as *;

.button {
    @extend %button;
    width: 40%;
    background-color: $color-primary;
    font-weight: 600;
    align-self: flex-end;
    border: none;
    text-align:center;

    &:hover {
        border: none;
    }

    .icon {
        margin-right: 13px;
    }

    .icon path {
        transition: .2s all;
    }

    &:hover .icon path {
        fill: $color-primary;
    }
}
