@use '../../../assets/scss/main.scss' as *;

.btnNext {
  @extend %button;

  width: 100%;
  background-color: $color-primary-light;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
  font-size: $smaller-font-size;

  &:disabled {
    background-color: $color-disabled;
    border: 1px solid $color-disabled;

    &:hover {
      color: $color-white;
    }
  }
}