@use '../../../assets/scss/main.scss' as *;

.button {
    width: 100%;
    padding: 2px 35px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.12);
    // background-color: $color-white;
}