@use '../../../assets/scss/main.scss' as *;

.button {
  @extend %button;

  &Red {
    background-color: $color-tertiary-dark;
  }

  &White {
    background-color: $color-white;
    color: $color-primary;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    padding: 3px 40px;

    @include responsive(phone-landscape) {
      padding: 1.2rem 2rem;
      border-radius: 10px;
    }

    @include responsive(phone-portrait) {
      padding: 1.2rem 2rem;
      border-radius: 10px;
      font-size: $small-font-size;
    }

    @include responsive(phone-small) {
      font-size: 1rem;
      padding: .5rem 1.3rem;
  }

    &:hover {
      background: rgba(255, 255, 255, 0.38);
      color: white;
    }
  }

  &Primary {
    background-color: $color-primary;
  }

  &Outline {
    background-color: $color-white;
    color: $color-primary;
  }

  &Login {
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: 600;
    background-color: $color-primary-light;
    border: 1px solid $color-primary-light;
  }

  &Medium {
    width: 40%;
  }
  &Large {
    width: 100%;
  }
  &Small {
    width: 25%;
  }
}
