@use '../../../assets/scss/main.scss' as *;

.btnPrimary {
  width: 100%;
  font-weight: 600;
  letter-spacing: 1.25px;
  background-color: $color-primary-light;
  text-transform: uppercase;
  padding: .5rem 0;
  border: 1px solid $color-primary-light;

  &:hover {
      background-color: darken($color-primary-light, 10%);
      border: 1px solid $color-primary-light;
  }

  &:disabled {
      background-color: $color-disabled;
      border-color: $color-disabled;
  }
}