@use '../../../../assets/scss/main.scss' as *;

.savingTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7rem 1rem;
  background-color: $color-primary-light;
  color: $color-white;
  border-radius: 4px;

  .heading {
    flex: 0 0 60%;
    text-align: center;
  }
}

.iconContainer {
  flex: 0 0 20%;
}

.iconBack {
  fill: $color-white;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.coinContainer {
  flex: 0 0 20%;
  width: 5rem;
  display: flex;
  padding: .4rem;
  align-items: center;
  background-color: darken($color-primary, 10%);
  border-radius: 20px;

  .coin {
    margin-right: 5px;
    width: 1.5rem;
    height: 1.5rem;
  }

  .coinText {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
  }
}

.hidden {
  visibility: hidden;
}