@use "../../../assets/scss/main.scss" as *;

.hiddenFooter {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: fixed;
    bottom: 0;
    background-color: $color-primary;
    height: 120px;
    width: 100%;
    z-index: 100;
    display: none;

    @include responsive(tablet-portrait) {
        display: block;
    }

    @include responsive(phone-landscape) {
        height: 12rem;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }

    @include responsive(phone-portrait) {
        height: 10rem;
    }

    @include responsive(phone-small) {
        height: 7.5rem;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    .mainContainer {
        @include responsive(phone-portrait) {
            padding: 0 2rem;
        }
        
        @include responsive(phone-small) {
            padding: 0 .5rem;
        }
    }

    .btnWhite {
        
            background-color: $color-white;
            color: $color-primary;
            font-weight: 600;
            font-size: 25px;
            line-height: 36px;
            padding: 3px 40px;
        
            @include responsive(phone-landscape) {
                padding: 1.2rem 2rem;
                border-radius: 10px;
            }
        
            @include responsive(phone-portrait) {
                padding: 1.2rem 2rem;
                border-radius: 10px;
                font-size: $small-font-size;
            }
        
            @include responsive(phone-small) {
                font-size: 1rem;
                padding: .5rem 1.3rem;
            }
        
            &:hover {
                background: rgba(255, 255, 255, 0.38);
                color: white;
        }
    }
}

.icon {
    position: absolute;
    top: 25px;
    left: 23px;
    cursor: pointer;

    @include responsive(phone-small) {
        top: 18px;
        left: 13px;
    }

    &X {
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
            fill: rgba(255, 255, 255, 0.38);
        }

        @include responsive(phone-landscape) {
            width: 3rem;
            height: 3rem;
        }

        @include responsive(phone-portrait) {
            width: 2.3rem;
            height: 2.3rem;
        }

        @include responsive(phone-small) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.monolaContainer {
    @include responsive(phone-portrait) {
        
        padding: 0;
    }
}

.titleContainer {
    @include responsive(phone-portrait) {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}

.title {
    color: $color-white;
    font-weight: 400;
    font-size: $large-font-size;
    margin: 0;

    @include responsive(tablet-portrait) {
        max-width: 70%;
        text-align: center;
    }

    @include responsive(phone-landscape) {
        font-size: 2rem;
        max-width: 65%;
        text-align: center;
    }

    @include responsive(phone-portrait) {
        font-size: 1.5rem;
        max-width: 70%;
        text-align: center;
    }

    @include responsive(phone-small) {
        font-size: 1rem;
    }
}
