@use '../../../assets/scss/main.scss' as *;

.dashboard {
  &Container {
    height: 100%;
  }
}

.sidebar {
  height: 150vh;
  box-shadow: $box-shadow-container;
  padding: 0;
  background-color: $color-white;

  @include responsive-mobile(md) {
    height: 170vh;
  }

  @include responsive-mobile(xxl) {
    height: auto;
    min-height: 120vh;
  }

  &--saving {
    @include responsive-mobile(xxl) {
      height: auto;
      min-height: 170vh;
    }
  }
}

.cancelContainer {
  background-color: $color-white;
  height: 100%;
  box-shadow: $box-shadow-container;
  border-radius: 2rem;
  padding: 0 2rem;
  padding-top: 2rem;

  .content {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    .heading {
      font-size: $default-font-size;
      color: $color-primary;
      font-weight: 700;
      letter-spacing: .18px;
    }

    .paragraph {
      font-weight: 400;
      font-size: $small-font-size;
      line-height: 25.14px;
    }
  }
}

.cancelBtn {
  @extend %cancelPageButton;
  background-color: $color-white;
  color: $color-primary;
  text-transform: capitalize;

  &:hover {
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
}

.confirmBtn {
  @extend %cancelPageButton;
  text-transform: capitalize;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}