@use '../../../assets/scss/main.scss' as *;

.carouselItem {
  height: 91vh;
  width: 100%;

  @include responsive(desktop-l) {
    height: 73vh;
  }

  @include responsive(phone-landscape) {
    height: 65vh;
  }

  @include responsive(phone-portrait) {
    height: 60vh;
      &:last-child .carouselImgContainer {
        flex: 0 0 25%;
      }
  }

  @include responsive(phone-small) {
    height: 45vh;
  }
  
  &Row {
    max-width: 65%;
    @include responsive(desktop-l) {
      max-width: 80%;
    }

    @media only screen and (max-width: 768px) {
      margin: 0 !important;
      flex-wrap: nowrap;
    }

    @include responsive(phone-landscape) {
      max-width: 100%;
    }
  }

  &Text {
    flex: 0 0 75%;

    // @media only screen and (width: 768px) {
    //   flex: 0 0 90%;
    //   max-width: 75%;
    // }

    @include responsive-mobile(sm) {
      flex: 0 0 90%;
    }
  }
}

.bgImg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;

  // @media only screen and (width: 768px) {
  //   object-position: 30% 50%;
  // }

  @include responsive-mobile(md) {
    object-position: 30% 50%;
  }
}

.titleCarousel {
  font-family: Peace Sans, sans-serif;
  color: $color-text-light !important;
  font-size: 1.8rem;
  margin-bottom: .5rem;
  line-height: 2rem;

  @include responsive-mobile(sm) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  @include responsive-mobile(md) {
    font-size: 3rem;
    line-height: 3rem;
  }

  @include responsive-mobile(lg) {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  @include responsive-mobile(xl) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @include responsive-mobile(xxl) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.subTitleCarousel {
  color: $color-text-light;
  font-weight: 400;
  font-size: $smaller-font-size;
  line-height: 1.2rem;
  margin-bottom: .3rem;
  letter-spacing: 0.18px;

  @include responsive-mobile(sm) {
    font-size: $small-font-size;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  @include responsive-mobile(md) {
    font-size: $default-font-size;
    line-height: 1.8rem;
  }

  @include responsive-mobile(xxl) {
    font-size: 1.9rem;
    line-height: $large-font-size;
  }
}

.carouselImgContainer {
  align-self: center;
  align-content: center;
  @include responsive(desktop-xl) {
    height: 100%;
  }

  @media only screen and (width: 768px) {
    flex: 0 0 40%;
  }

  @include responsive(phone-portrait) {
    flex: 0 0 30%;
    text-align: right;
  }

  @include responsive(phone-small) {
    flex: 0 0 20%;
  }
}

.imgCarousel {
  width: 100%;
  @include responsive(desktop-xl) {
    width: auto;
  }

  @include responsive(desktop-xxl) {
    width: 100%;
  }

  @include responsive(desktop-l) {
    width: 95%;
  }

  @media only screen and (width: 768px) {
    min-width: 100%;
  }

  @include responsive(phone-landscape) {
    width: 100%;
    margin-top: .8rem;
  }

  @include responsive(phone-portrait) {
    width: 100%;
    margin-top: .8rem;
  }
}

.coin {
  width: 80%;

  @include responsive-mobile(md) {
    width: 70%;
  }

  @include responsive-mobile(lg) {
    width: 60%;
  }
}

.btnRegis {
  color: $color-text-light;
  font-size: $smaller-font-size;
  letter-spacing: 0.15px;
  padding: .5rem .8rem;
  background-color: $color-primary;
  border-radius: 0.424rem;
  font-weight: 700;
  transition: .2s all;
  border: none;

  @include responsive-mobile(sm) {
    font-size: $small-font-size;
    padding: .8rem 1rem;
  }

  @include responsive-mobile(xxl) {
    font-size: $default-font-size;
  }

  &:hover {
    background-color: darken($color-primary, 5%);
    color: $color-text-light;
    text-decoration: none;
  }
}