@use '../../../assets/scss/main.scss' as *;

.pinInput input{
  margin: 4px;
  width: 4.5rem;
  border-radius: 3px;
  font-size: 2rem;
  height: 4.5rem;
  text-align: center;
  border: 1px solid $color-text-light;
  outline: none;
  box-shadow: 0 .3rem 2rem rgba($color-black, .1);
  transition: .2s all;

  &:focus {
    border: 1px solid $color-primary-light;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
}

.forgetPinText {
  color: $color-primary-light;
  font-weight: 600;
}

.pinInvalidText {
  margin-top: 2rem;
  margin-bottom: 0;
  color: $color-error;
}